# Leftovers from the HTML5 UP template, untracked but still on disk locally
# because this working copy can't delete files. Safe to bin in Finder.
/assets/
/images/
/LICENSE.txt
/README.txt
/_to_delete/
/_broken-clone-do-not-use/
/fonts/erode-400-normal.woff2
/fonts/erode-500-normal.woff2
